@import './_vars.scss';
@import './components/_todo.scss';
@import './login.scss';
@import './dashboard.scss';

body {
    background: $color-background;
    font-family: $font-family-base;
    color: $color-text-primary;
}